{%extends 'base.html'%}
{%block head%} 
<title>Filtering</title>
{% endblock%}

{% block body%}
<div>
    <form class="form" method="post" action="/filterdone">
        <h2>Filter By</h2>
        <h4>Category: Select one or more categories:</h4>
        <input type="checkbox" id="category1" name="category" value='ART_AND_DESIGN'>
        <label for="category1">ART_AND_DESIGN   </label>
        <input type="checkbox" id="category2" name="category" value='AUTO_AND_VEHICLES'>
        <label for="category2">AUTO_AND_VEHICLES    </label>
        <input type="checkbox" id="category3" name="category" value='BEAUTY'>
        <label for="category3">BEAUTY   </label>
        <input type="checkbox" id="category4" name="category" value='BOOKS_AND_REFERENCE'>
        <label for="category4">BOOKS_AND_REFERENCE  </label>
        <input type="checkbox" id="category5" name="category" value='BUSINESS'>
        <label for="category5">BUSINESS </label> <br>
        <input type="checkbox" id="category6" name="category" value='COMICS'>
        <label for="category6">COMICS   </label>
        <input type="checkbox" id="category7" name="category" value='COMMUNICATION'>
        <label for="category7">COMMUNICATION    </label>
        <input type="checkbox" id="category8" name="category" value='DATING'>
        <label for="category8">DATING   </label>
        <input type="checkbox" id="category9" name="category" value='EDUCATION'>
        <label for="category9">EDUCATION    </label>
        <input type="checkbox" id="category10" name="category" value='ENTERTAINMENT'>
        <label for="category10">ENTERTAINMENT   </label><br>
        <input type="checkbox" id="category11" name="category" value='EVENTS'>
        <label for="category11">EVENTS  </label>
        <input type="checkbox" id="category12" name="category" value='FAMILY'>
        <label for="category12">FAMILY  </label>
        <input type="checkbox" id="category13" name="category" value='FINANCE'>
        <label for="category13">FINANCE </label>
        <input type="checkbox" id="category14" name="category" value='FOOD_AND_DRINK'>
        <label for="category14">FOOD_AND_DRINK  </label>
        <input type="checkbox" id="category15" name="category" value='GAME'>
        <label for="category15">GAME    </label><br>
        <input type="checkbox" id="category16" name="category" value='HEALTH_AND_FITNESS'>
        <label for="category16">HEALTH_AND_FITNESS  </label>
        <input type="checkbox" id="category17" name="category" value='HOUSE_AND_HOME'>
        <label for="category17">HOUSE_AND_HOME  </label>
        <input type="checkbox" id="category18" name="category" value='LIBRARIES_AND_DEMO'>
        <label for="category18">LIBRARIES_AND_DEMO  </label>
        <input type="checkbox" id="category19" name="category" value='LIFESTYLE'>
        <label for="category19">LIFESTYLE   </label>
        <input type="checkbox" id="category20" name="category" value='MAPS_AND_NAVIGATION'>
        <label for="category20">MAPS_AND_NAVIGATION </label><br>
        <input type="checkbox" id="category21" name="category" value='MEDICAL'>
        <label for="category21">MEDICAL </label>
        <input type="checkbox" id="category22" name="category" value='NEWS_AND_MAGAZINES'>
        <label for="category22">NEWS_AND_MAGAZINES  </label>
        <input type="checkbox" id="category23" name="category" value='PARENTING'>
        <label for="category23">PARENTING   </label>
        <input type="checkbox" id="category24" name="category" value='PERSONALIZATION'>
        <label for="category24">PERSONALIZATION </label>
        <input type="checkbox" id="category25" name="category" value='PHOTOGRAPHY'>
        <label for="category25">PHOTOGRAPHY </label><br>
        <input type="checkbox" id="category26" name="category" value='PRODUCTIVITY'>
        <label for="category26">PRODUCTIVITY    </label>
        <input type="checkbox" id="category27" name="category" value='SHOPPING'>
        <label for="category27">SHOPPING    </label>
        <input type="checkbox" id="category28" name="category" value='SOCIAL'>
        <label for="category28">SOCIAL  </label>
        <input type="checkbox" id="category29" name="category" value='SPORTS'>
        <label for="category29">SPORTS  </label>
        <input type="checkbox" id="category30" name="category" value='TOOLS'>
        <label for="category30">TOOLS   </label><br>
        <input type="checkbox" id="category31" name="category" value='TRAVEL_AND_LOCAL'>
        <label for="category31">TRAVEL_AND_LOCAL    </label>
        <input type="checkbox" id="category32" name="category" value='VIDEO_PLAYERS'>
        <label for="category32">VIDEO_PLAYERS   </label>
        <input type="checkbox" id="category33" name="category" value='WEATHER'> 
        <label for="category33">WEATHER </label>
        <h4>Free/Paid: Select any one or both</h4>
        <input type="checkbox" id="Free" name="F/P" value='Free'>
        <label for="category32">Free   </label>
        <input type="checkbox" id="Paid" name="F/P" value='Paid'> 
        <label for="category33">Paid    </label>
        <h4>Sort by:</h4>
        <input type="radio" id="ratings" name="sort" value="ratings">
        <label for="ratings">Ratings</label>
        <input type="radio" value="Asc" name="sort" id="Alphabetically Asc">
        <label for="Alphabetically Dsc">Alphabetically Ascending</label> 
        <input type="radio" value="Dsc" name="sort" id="Alphabetically Dsc">
        <label for="Alphabetically Dsc">Alphabetically Descending</label> 
        <br><br>
        <input type="submit" value="Submit"><br>
    </form> 
    </div>
    {%endblock%}